html
    head
        title ECV - React - Index
        link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prism-themes@1.0.1/themes/prism-atom-dark.css")
    body
        h1 ECV - React - Courses
        ul
            each course in courses
                li
                    a(href='/courses/' + course.code) #{course.title}

